﻿@using SaM.SamPortal.Utils
@model SaM.SamPortal.Models.FeedModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<head>
    <link href="~/Content/PostBodyStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="feed">
        @{
            foreach (var Post in Model.Posts.OrderBy(x => x.Rating))
            {
                <div class="post">
                    <table>
                        <tr>
                            <td class="postRatingCollunm">
                                <span class="postRating">@Post.Rating</span>
                            </td>
                            <td class="postContentCollumn">
                                <div class="postHeader">
                                    <h1 class="postTitle">@Post.Title</h1>
                                    <span class="postDate">@DateTimeConverter.ToRelativeTime(Post.DateTime)</span>
                                    <span class="postDate">@Post.Author</span>
                                </div>

                                <div class="postContent">@Post.Text</div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }
    </div>
</body>
