﻿.post {
    
}

.postContent {
    max-width: 600px;
    border: 1px rgba(208,221,229,255) solid;
    background-color: rgba(251,251,251,255);
    margin: 7px;
    padding: 10px;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}

.postDate {
    font-weight: 400;
}

.postRatingCollunm {
    width: 70px;
    vertical-align: top;
    text-align: center;
}

.postRating {
    position: relative;
    top: 50px;
    font-weight: 500;
    font-size: 20px;
    color: GrayText;
}

.postTitle {
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    color: deepskyblue;
}
