﻿body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.siteHeader ul {
    display: inline;
}

.siteHeader li {
    display: inline;
}

.siteHeader {
    border: 1px aqua solid;
    margin: 0px;
    padding: 0px;
    align-content: center;
}

.siteFooter {
    border: 1px aqua solid;
    margin: 0px;
    padding: 0px;
    flex: 0 0 auto;
    min-height: 100px;
    max-height: 200px;
}

#HeaderBar {
    max-width: 700px;
}


#mainTable {
    max-width: 2500px;
    align-self: center;
}

#contentCollumn {
    background-color: azure;
    max-width: 2000px;
    min-width: 500px;
}

#controlCollumn {
    background-color: aqua;
    align-content: center;
    vertical-align: top;
    text-align: center;
    horiz-align: center;
    max-width: 500px;
    min-width: 400px;
}
