﻿body {
    background-color: rgba(255,255,255,255);
}

h1 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.comment {
    margin: 10px;
     font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}

.post {
    max-width: 600px;
}

.postContent {
    border: 1px rgba(208,221,229,255) solid;
    background-color: rgba(251,251,251,255);
    margin: 7px;
    padding: 10px;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}

.postDate {
    font-weight: 400;
}

.postHeader {
    
}

.postRating {
    
}
