﻿@model SaM.SamPortal.Models.PostModel

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<head>
    <title>Главная страница</title>
    <link href="~/Content/SomeStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="post">
        <div class="postHeader">
            <h1>@Model.Post.Title</h1>
            <span class="postRating">@Model.Post.Rating</span>
            <span class="postDate">@Model.Post.DateTime.ToUniversalTime()</span>
        </div>

        <div class="postContent">@Model.Post.Text</div>
    </div>
<div>
    @{
        foreach (var comment in Model.Commentaries.OrderBy(x => x.Rating))
        {
            <div class="comment">
                <div>
                    <strong>@Model.Users.Where(x => x.Id == comment.UserId).FirstOrDefault().CustomNickname</strong>
                </div>
                <div>@comment.DateTime.ToUniversalTime()</div>
                <div>
                    @comment.Text
                </div>
            </div>
        }
    }
</div>
</body>
