﻿<html>
<head>
    <title>Главная страница</title>
    <link href="~/Content/PublicLayoutStyle.css" rel="stylesheet" />
</head>
<body>

    <header class="siteHeader">
        <div id="HeaderBar">
            <ul>
                <li>
                    Горячее
                </li>
                <li>
                    <a href="@Url.Action("Index", "Feed")">Лучшее</a>
                </li>
                <li>
                    Свежее
                </li>
            </ul>
        </div>
    </header>

    <div>

    </div>

    <table id="mainTable">
        <tr>
            <td id="contentCollumn">@RenderBody()</td>
            <td id="controlCollumn">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>Create a new account.</h2>
                </hgroup>

            </td>
        </tr>
    </table>

    <footer class="siteFooter"></footer>
</body>
</html>